# Asset Archive (Local Only - DO NOT SYNC)
raw_assets/
William Backup Full.zip
*.zip
*.heic

# Next.js
.next/
out/
build/

# deps
node_modules/
.pnpm-store/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
